#mycanvas{
  border: 10px ridge grey; 
  background-color: white;
 }
 
 h1{
   color: white;
   font-size: 30px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 body{
   background-size: cover;
 }

 span{
   color: white;
 }